<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">
</head>

<body>
    <main class="forgot_container">
        <h2>Forgot Password</h2>
        <form id="forgotForm" class="forgotForm">
            <input type="email" id="email" name="email" placeholder="Enter your email" autocomplete="email">

            <span id="emailError" class="error"></span>

            <button type="submit">
                Send Reset Link
            </button>
        </form>

        <p>
            <a href="/login">
                Back to Login
            </a>
        </p>
    </main>

    <script src="/js/forgotPassword.js"></script>
</body>

</html>