<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS API</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main class="home_container">
        <h1>
            Welcome to the Learning Management System!
        </h1>

        <p>
            Learn, track, and manage courses all in one place.
        </p>

        <div class="buttons">
            <a href="/signup">
                Signup
            </a>

            <a href="/login">
                Login
            </a>
        </div>
    </main>
</body>

</html>